/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*(grijs #899CA0 en donkergroen #1C2B32)*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*////////////////////////
    2. Typography
////////////////////////*/
body {
    font-family: Poppins, sans-serif;
    color: #1C2B32;
}


/*////////////////////////
    3. Areas
////////////////////////*/

/*///////////// 3.1 Header /////////////*/
header {
    background-image: url('../assets/images/mountains.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
}

.header {
    width: 1000px;
    margin: auto;
    text-align: center;
    padding: 60px 0 300px 0;
    color: #1C2B32;


}

.title {
    font-size: 70px;

}

.subtitle {
    font-size: 11px;
    padding: 15px 0 25px 0;
    margin: 15px 0 15px 0;

}

.header input {
    font-size: 9px;
    margin-right: -2px;
    border-radius: 15px 0 0 15px;
    border: 1px solid #1C2B32;
    padding: 13px 85px 13px 15px;
    background-color: transparent;


}

.header input:focus {
    outline: none;
}

.header input::placeholder {
    color: #1C2B32;
    overflow: visible;
}


.header button {
    background-color: #1C2B32;
    border: 0;
    font-size: 9px;
    padding: 14px 20px 14px 15px;
    color: white;
    margin-left: -2px;
    border-radius: 0 15px 15px 0;
}
.header button:hover{
    cursor: pointer;
}
main {
    max-width: 1000px;
    margin: auto;
}
h3 {
    text-align: center;
    margin: 40px 0 40px 0;
    font-size: 28px;
}

/*///////////// 3.2 Testimonial /////////////*/

.testimonials > article{
    position: relative;
    padding:30px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);
    margin: 35px 0 35px 0;
    border-radius: 10px;
}

.testimonials > article {
    font-size: 13px;
}

.testimonials-text{
    padding: 20px 40px 10px 40px;
}

.testimonials > article > div {
    padding: 10px 40px 0 40px ;
    font-style: italic;

}
.testimonials > article > div > img {
    width: 44px;
    height: 44px;
    vertical-align: middle;

}
.testimonials > article > div > span {
    vertical-align: middle;
    padding-left: 15px;
}

.testimonials > article > img {
    width: 20px;
    position: absolute;
    top: 45px;
    left: 40px;
}

/*///////////// 3.3 Support /////////////*/
a {
    color: #899CA0;

}

a:hover {
    text-decoration: none;
}

.support {
}

.support p {
    text-align: left;
    font-size: 15px;
    padding: 18px 0 18px 0;
}

.support img {
    max-width: 100%;
    border-radius: 10px;
}

.support button {
    background-color: #1C2B32;
    color: white;
    border: 0;
    border-radius: 30px;
    padding: 23px 25px 23px 25px;
    font-size: 15px;
}


/*///////////// 3.4 Faq /////////////*/

.faq{
    width: 100%;
}

.faq details > summary{
    font-size: 13px;
    padding: 15px 0 15px 0;

}
.faq details > summary:hover{
    cursor: pointer;
}
.faq details > p {
    background-color: #899CA0;
    color: white;
    border-radius: 15px;
    padding: 23px;
    font-size: 13px;
}



/*///////////// 3.5 Footer /////////////*/

footer {
    text-align: center;
    font-size: 10px;
    background-color: #1C2B32;
    color: white;
    padding: 20px 0 20px 0;
}